/* --------MAIN PAGE---------- */


body{
    font-family: 'Inconsolata', monospace;
    font-size:20px;
    color: #F0E3CA;
    background-color: #1B1A17;
}

.header{
    background-color: #1F1E1B;
    height: auto;
    top: 0;
    left: 0;
    width: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


.logo{
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
}
.orange_{
    color:#FF8303;
}

.nav-link:hover, .nav-link:focus {
    color: #FF8303;
  }

.nav-link{
    color: #F0E3CA;
}

.content_photo{
    max-width: 629px;
    height: auto;
    background: url("img/let\ button_menu\ =\ document.querySelector\(_.header_button_\);\ let\ float_menu\ =\ document.querySelector\(_.header_menu--float_\);\ let\ line_top\ =\ document.querySelector\(_.header_button_line--top_\);\ let\ line_under\ =\ documen.png");
    background-size: cover;
}


/* -----FOOTER------- */
.footer{
    margin-top: 150px;
    width:100%;
    height: auto;
    background-color: #1F1E1B;
}

/* остальные шрифты:
font-family: 'Inconsolata', monospace;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
*/